/*------------------------------------------------------------------
[Main Stylesheet]

Project     : P3-propinside
Version     : 1.0
Author      : Md Ekramul Hassan Avi
Author URI  : https://www.tigertemplate.com
-------------------------------------------------------------------*/

/*
==========================================
    Google fonts
==========================================
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto:400,500,500i,700,900|Raleway:400,700|Ubuntu:300,400,500,700');

/*MyriadPro fonts*/
@font-face {
  font-family: 'MyriadPro';
  src: url('fonts/MyriadPro-Regular.otf');
}
.MyriadPro {
  font-family: 'MyriadPro' !important;
}

/*Inter fonts*/
@font-face {
  font-family: 'InterMedium';
  src: url('fonts/Inter-Medium.ttf');
}
.InterMedium {
  font-family: 'InterMedium';
}
@font-face {
  font-family: 'InterBold';
  src: url('fonts/Inter-Bold.ttf');
}
.InterBold {
  font-family: 'InterBold';
}

/*------------------------------------------------------------------
[Table of contents]

1.  reset css
2.  header css
3.  property css
4.  pagination css
5.  searching box css
6.  agent css
00.  footer css

-------------------------------------------------------------------*/

/*
==========================================
1.  reset css
==========================================
*/

*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'MyriadPro';
  font-size: 16px;
  color: #2e2f2f;
  font-weight: 400;
}
a,a:active,a:focus,a:hover,button{
  text-decoration: none;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  cursor: pointer;
}
h1,h2,h3,h4,h5,h6,p,ul,hr {
  padding: 0; 
  margin: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'MyriadPro';
}
ul li {
  list-style: none;
}
select {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  background: url('img/icons/bottom-arrow.png') 13px / 9px no-repeat #4f5257;
  background-position:center right 37px;
}
select::-ms-expand { 
  display: none; /* hide the default arrow in ie10 and ie11 */
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

/*custom bg and font color*/
.bg-primary {
  background-color: #1784b4 !important;
}
.bg-info {
  background-color: #2fc9ef !important;
}
.text-info {
  color: #1784b4 !important;
}
.btn-primary {
  background-color: #1777a1 !important;
  border-color: #1777a1 !important;
}

/*
==========================================
2.  header css
==========================================
*/

.header-main .topbar {
  min-height: 64px;
  font-weight: 700;
  font-family: 'MyriadPro';
}
.bg-header:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('img/header-bg.jpg');
  background-position: center top;
  background-size: cover;
}
.head-main {
  min-height: 200px;
}
.main-menu a {
  color: #fff;
}
.main-menu li > a {
  padding: 0 40px;
}
.search-form button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: #fff;
}
.search-form .search-box {
  top: 100%;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  padding: 4px 8px;
  border-radius: 6px 0 6px 6px;
}
.search-form:hover .search-box {
  opacity: 1;
  visibility: visible;
}
.search-form button .fa.fa-search {
  font-size: 19px;
}

/*
==========================================
3.  property css
==========================================
*/

.property-main {
  padding: 60px 0 0;
}
.bg-grey {
  background-color: #f8f8f8 !important;
}
.property-item {
  padding: 15px 0;
}
.property-img-overlay {
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(47,201,239,0.87);
  min-height: 57px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  padding: 0 65px;
}
.property-imgs {
  margin-bottom: 30px;
}
.property-imgs img {
  max-height: 415px;
  overflow: hidden;
}
.property-item > p {
  color: #000;
  margin-bottom: 14px;
}
.btn-info {
  background-color: #2fc9ef !important;
  border-color: #2fc9ef !important;
}
.btn {
  border-radius: 20px 0 20px 20px !important;
  font-weight: 600;
}
.property-item > a {
  min-height: 40px;
}
.team-img-overlay {
  top: calc(100% - 18%);
  left: 0;
  right: 0;
  margin: auto 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 16px rgba(0,0,0,0.2);
  padding: 25px 0 12px;
  color: #000 !important;
}
.social-link a {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 8px;
  color: #3b82ea;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
  font-size: 10px;
}
.social-link a.active {
  background-color: #ff820e;
  color: #fff;
}
.team-img-overlay .social-link {
  left: 0;
  right: 0;
  top: 0;
  transform: translateY(-50%);
}
.team-img-overlay h6 {
  font-size: 14px;
  font-family: 'MyriadPro';
}
.team-img-overlay p {
  font-family: 'MyriadPro';
  font-size: 11.41px;
}
.team-img {
  margin-bottom: 60px;
}
.team-item a.btn {
  min-height: 40px;
  font-size: 12px;
  font-family: 'MyriadPro';
}

/*owl carousel*/
.owl-theme .owl-nav {
  position: absolute;
  top: calc(50% - 5%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  height: 60px;
  margin-top: 0;
}
.owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: -3%;
}
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: -3%;
}
.owl-theme .owl-nav [class*="owl-"] {
  font-size: 40px;
  height: 60px;
  width: 60px;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  border-radius: 50%;
  background-color: #a3a4a4;
  padding: 0;
  margin: 0;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background-color: #2fc9ef;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}
.property-type {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}
.property-type b {
  font-weight: 700;
}
.property-detail-info .form-control {
  font-size: 15px;
  color: #141313;
  padding: 5px 0 0;
  border: 0;
  border-bottom: 1px dotted #a1a1a1;
  background-color: transparent;
}
.property-detail-info label {
  font-size: 18px;
  color: #2c2b2b;
  margin-bottom: 0;
}
.property-detail-info {
  padding-bottom: 20px;
}
.property-facility-icon {
  width: 38px;
  height: 38px;
  background-color: #e8e8e8;
}
.property-facility {
  margin-bottom: 20px;
}
.property-list {
  padding: 15px 0 80px;
}

.property-detail-info .form-control::placeholder {
  color: #141313;
  opacity: 1; /* Firefox */
}
.property-detail-info .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #141313;
}
.property-detail-info .form-control::-ms-input-placeholder { /* Microsoft Edge */
 color: #141313;
}

/*
==========================================
4.  pagination css
==========================================
*/

.pagination-main {
  padding: 60px 0;
}
.pagination-list a, .pagination-list span {
  min-width: 40px;
  min-height: 40px;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  font-family: 'MyriadPro';
  font-weight: 700;
}
/*.pagination-list a.active, .pagination-list a:hover, .pagination-list li.active {
  background-color: #4aa2eb;
  color: #fff;
}*/
.pagination-list li:not(:last-child) {
  margin-right: 12px;
}
.pagination-list > li:first-child > a, .pagination-list > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination-list > .disabled > span, .pagination-list > .disabled > span:hover, .pagination-list > .disabled > span:focus, .pagination-list > .disabled > a, .pagination-list > .disabled > a:hover, .pagination-list > .disabled > a:focus {
  color: #777777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-list > .active > a, .pagination-list > .active > span, .pagination-list > .active > a:hover, .pagination-list > .active > span:hover, .pagination-list > .active > a:focus, .pagination > .active > span:focus {
  color: #fff;
  background-color: #4aa2eb !important;
  border-color: #4aa2eb;
}

/*
==========================================
5.  searching box css
==========================================
*/

.searching-box {
  padding: 66px 0 55px;
}
.searching-bg {
  background-color: #1784b4;
  min-height: 124px;
}
.searching-form {
  background-color: #1784b4;
  min-height: 124px;
  padding: 0 60px;
  border-radius: 10px;
  margin-left: 60px;
}
.searching-form input::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}
.searching-form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #fff;
}
.searching-form input::-ms-input-placeholder { /* Microsoft Edge */
 color: #fff;
}
.searching-form input,.searching-form button {
  background: transparent;
  border: 0;
  color: #fff;
  font-family: 'MyriadPro';
  font-size: 25px;
  font-weight: 600;
}
.searching-form button {font-size: 28px;}
.searching-form .row div:first-child:before {
  content: '/';
  position: absolute;
  right: 34px;
  top: 50%;
  color: #fff;
  font-size: 25px;
  height: 100%;
  transform: translateY(-50%);
  padding: 0;
}
.searching-form .row div:first-child input {
  padding-right: 30px;
}

/*
==========================================
6.  agent css
==========================================
*/

.agent-details-title-box {
  min-height: 76px;
  font-size: 20px;
  font-weight: 700;
}
.agent-details-items {
  padding: 55px 38px;
}
.agent-details-info h4 {
  color: #1a1919;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 30px;
}
.agent-details-info p {
  line-height: 25px;
  padding-bottom: 20px;
}
.agent-details-info ul li span {
  font-weight: 700;
}
.agent-details-info ul li {
  color: #464545;
}

/*site section main*/
.site-section-main {
  padding: 40px 0;
}
.site-header p {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 5px;
}
.site-header h4 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  padding-bottom: 40px;
}
.site-info p {
  line-height: 25px;
}
.site-info p:not(:last-child) {
  padding-bottom: 35px;
}
.contact-form .form-control {
  border: 0;
  font-size: 14px;
  font-family: 'MyriadPro';
  min-height: 48px;
  background-color: #e8f0fe;
  border-radius: 30px;
  padding: 10px 20px;
  color: #343535;
}
.contact-form .form-control::placeholder {
  color: #343535;
  opacity: 1; /* Firefox */
}
.contact-form .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #343535;
}
.contact-form .form-control::-ms-input-placeholder { /* Microsoft Edge */
 color: #343535;
}
.contact-form {
  box-shadow: 3px 3px 18px rgba(0,0,0,0.35);
}

/*star-rating css*/
.star-rating::before {
  content: '\2605\2605\2605\2605\2605';
  color: #c5c5c5;
  font-family: 'FontAwesome';
  font-size: 17px;
  letter-spacing: 3px;
}
.star-rating span::before {
  color: #f17235;
  content: '\2605\2605\2605\2605\2605';
  font-family: 'FontAwesome';
  font-size: 17px;
  letter-spacing: 3px;
}
.star-rating {
  overflow: hidden;
  position: relative;
  font-size: 1em;
  left: 0;
  top: 0;
  display: inline;
  height: 17px;
  width: auto;
  line-height: 20px;
}
.star-rating span {
  overflow: hidden;
  top: 0;
  left: 0;
  position: absolute;
}

.prod-imgs {
  border: 1px solid #d2d3d6;
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
  padding: 11px;
  border-radius: 6px;
  height: 240px;
}
.prod-imgs .position-absolute {
  top: 11px;
  right: 11px;
  padding: 0 20px;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  min-height: 26px;
  font-size: 12.71px;
  font-weight: 300;
}
.product-promo {
  font-family: 'Ubuntu',sans-serif;
  margin: auto 1px;
}
.product-promo:hover .prod-imgs h4,.product-promo.active .prod-imgs h4 {
  color: #4a83db;
}
.prod-imgs h4,.prod-imgs p {
  color: #414141;
  font-weight: 700;
  font-size: 13.77px;
  text-transform: uppercase;
}
.prod-imgs p {
  font-weight: 300;
}
.prod-imgs h4 {
  padding: 16px 0 4px;
}
.prod-price-tag {
  color: #414141;
  font-weight: 700;
  font-size: 19px;
}
.prod-price-tag sup {
  font-weight: 400;
}

#owl-product-promo .owl-nav [class*="owl-"] {
  width: 18px;
  height: 18px;
  font-size: 14px;
  border-radius: 4px;
  right: calc(18px + 3px);
  left: auto;
  background-color: #d3d3d3;
}
#owl-product-promo .owl-nav {
  top: 20px;
  height: 18px;
  position: absolute;
  left: 0;
  right: 0;
}
#owl-product-promo .owl-nav .owl-next {
  right: 0;
}
#owl-product-promo .owl-nav [class*="owl-"]:hover {
  background-color: #959595;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}
.contact-form .btn-primary {
  min-height: 45px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
}
.agent-registration .contact-form {
  box-shadow: 3px 13px 27px -8px rgba(0,0,0,0.07);
}
.agent-registration {
  padding: 80px 0;
}
.contact-us {
  /*padding: 110px 0 60px;*/
}
.contact-us .contact-form {
  box-shadow: 0 0 0;
}
.contact-us .btn-primary {
  border-radius: 10px;
  padding: 0 35px !important;
}

/*
==========================================
00.  footer css
==========================================
*/

.footer-main {
  padding: 100px 0 0;
  background-color: #3a393f;
}
.footer-info p {
  font-size: 14px;
  font-family: 'MyriadPro';
  margin-bottom: 28px;
  line-height: 20px;
  padding-right: 15%;
}
.footer-list h4 {
  font-size: 14px;
  line-height: 40px;
  font-family: 'MyriadPro';
  padding-bottom: 20px;
  text-transform: uppercase;
}
.footer-list a {
  color: #fff;
  font-family: 'MyriadPro';
  font-size: 11px;
  line-height: 20px;
}
.footer-list {
  margin-bottom: 60px;
}
.divider hr {
  background-color: rgba(238,241,242,0.2) !important;
}
.footer-copyright {
  padding: 40px 0;
}
.footer-copyright p {
  font-size: 12px;
  font-family: 'MyriadPro';
}
.footer-main .social-link a {
  width: 30px;
  height: 30px;
  font-size: 14px;
}
.color-white {
  color: #fff;
}
.site-logo {
  margin-top: 20px;
}