/*------------------------------------------------------------------
[Responsive Stylesheet]

Project     : p1-property
Version     : 1.0
Author      : Md Ekramul Hassan Avi
Author URI  : https://www.tigertemplate.com
-------------------------------------------------------------------*/

.slicknav_menu {
	display:none;
}

@media screen and (max-width: 1200px) {
	
	.header-menu .log-link li a,.header-topbar h5 {
		font-size: 12px;
	}
	.best-offer-agents .pl-4.pr-2 {
		padding: 0 !important;
	}
	.property-price-size h4 {
		font-size: 18px;
	}

}

@media screen and (max-width: 992px) {
	
	/*menus css*/
	.slicknav_menu {
		display:block;
	}
	.slicknav_btn {
		float: none;
		display: flex;
		margin: 0;
		width: 100%;
	}
	.slicknav_menutxt{
		text-align: center;
	}
	.slicknav_menu {
	  padding: 0;
	  border-radius: 0;
      background-color: #3b546c;
	  position: relative;
	}
	.slicknav_nav .slicknav_item.slicknav_row:hover a {
		color: #222;
	}
	.slicknav_icon {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 90px;
	  right: 0;
	  margin: auto !important;
	}
	.slicknav_menutxt {
	  width: 100%;
	}
	.slicknav_btn.slicknav_collapsed {
	  border-radius: 0;
	  background-color: transparent;
	  position: relative;
	}
	.slicknav_menu:before {
	  content: ;
	  content: '';
	  position: absolute;
	  height: 100%;
	  top: 0;
	  left: 0;
	  background-color: #3b546c;
	  width: 100%;
	  z-index: -1;
	}
	.slicknav_menutxt {
	  border-radius: 0;
	}
	.slicknav_btn.slicknav_open {
	  border-radius: 0;
	  background-color: transparent;
	  border-bottom: 1px solid #2e4255;
	}
	.slicknav_nav .slicknav_row, .slicknav_nav a {
	  margin: 0;
	}
	.slicknav_nav a {
		text-transform: uppercase;
	}
	.slicknav_nav li {
		margin: 0 !important;
		border-radius: 0 !important;
	}
	.slicknav_nav a:hover {
		background-color: #2e4255;
		color:#fff;
	}
	.slicknav_nav li a{
		border-radius: 0 !important;
	}
	/*menus css*/

	.best-offer-agents .pl-4.pr-2 {
		padding:0 .5rem 0 1.5rem !important;
	}
	.agents-inner .agents-item,.agents-head {
		padding: 0;
	}
	.property-price-size h4 {
		font-size: 30px;
	}

	

}

@media screen and (max-width: 768px) {
	
	.profile-info-list {
		padding-top: 20px;
	}

}

@media screen and (max-width: 576px) {

	.pro-address p i {
		font-size: 25px;
	}
	.property-thum img {
		position: relative !important;
		padding-bottom: 16px;
		display: inline-block;
	}
	.property-list-item {
		margin-bottom: 30px;
	}

}