/*------------------------------------------------------------------
[Responsive Stylesheet]

Project     : P3-propinside
Version     : 1.0
Author      : Md Ekramul Hassan Avi
Author URI  : https://www.tigertemplate.com
-------------------------------------------------------------------*/

.slicknav_menu {
	display:none;
}

@media screen and (max-width: 1200px) {
	
	.header-main .topbar,.property-img-overlay,.property-item > p {
		font-size: 16px;
	}
	.team-img-overlay {
		top: calc(100% - 30%);
	}
	.footer-info p {
		font-size: 14px;
		padding-right: 0;
	}
	.footer-list h4 {
		font-size: 14px;
		padding-bottom: 24px;
	}
	.footer-copyright {
		padding: 20px 0;
	}

}

@media screen and (max-width: 992px) {
	/*menus css*/
	.slicknav_menu {
		display:block;
	}
	.header-main .menu-main {
		top: 0;
	}
	.slicknav_btn {
		float: none;
		display: flex;
		margin: 0;
		width: 100%;
	}
	.slicknav_menutxt{
		text-align: center;
	}
	.slicknav_menu {
	  padding: 0;
	  border-radius: 0;
      background-color: #3b546c;
	  position: relative;
	}
	.slicknav_nav .slicknav_item.slicknav_row:hover a {
		color: #222;
	}
	.slicknav_icon {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 90px;
	  right: 0;
	  margin: auto !important;
	}
	.slicknav_menutxt {
	  width: 100%;
	}
	.slicknav_btn.slicknav_collapsed {
	  border-radius: 0;
	  background-color: transparent;
	  position: relative;
	}
	.slicknav_menu:before {
	  content: ;
	  content: '';
	  position: absolute;
	  height: 100%;
	  top: 0;
	  left: 0;
	  background-color: #3b546c;
	  width: 100%;
	  z-index: -1;
	}
	.slicknav_menutxt {
	  border-radius: 0;
	}
	.slicknav_btn.slicknav_open {
	  border-radius: 0;
	  background-color: transparent;
	  border-bottom: 1px solid #2e4255;
	}
	.slicknav_nav .slicknav_row, .slicknav_nav a {
	  margin: 0;
	}
	.slicknav_nav a {
		text-transform: uppercase;
	}
	.slicknav_nav li {
		margin: 0 !important;
		border-radius: 0 !important;
	}
	.slicknav_nav a:hover {
		background-color: #2e4255;
		color:#fff;
	}
	.slicknav_nav li a{
		border-radius: 0 !important;
	}
	/*menus css*/
	
	.owl-theme .owl-nav [class*="owl-"] {
		font-size: 40px;
		height: 55px;
		width: 55px;
	}
	.owl-theme .owl-nav {
		height: 55px;
	}
	.team-item {
		padding-bottom: 20px;
	}
	.searching-form .row div:first-child::before {
		right: 20px;
		font-size: 20px;
	}
	.searching-form .row div:first-child input {
		padding-right: 16px;
	}
	.searching-form input, .searching-form button {
		font-size: 20px;
	}
	.searching-form {
		min-height: 80px;
		padding: 0 20px;
	}
	.site-info p:last-child {
		padding-bottom: 35px;
	}
	.footer-info p,.footer-logo,.footer-list {
		margin-bottom: 20px;
	}
	.searching-form {
		margin-left: 0;
	}
	

}

@media screen and (max-width: 768px) {

	

}

@media screen and (max-width: 576px) {

	.head-main {
		min-height: auto;
		padding: 40px 0 !important;
	}
	.header-main .topbar, .property-img-overlay, .property-item > p {
		font-size: 14px;
	}
	.property-img-overlay {
		padding: 0 15px;
		line-height: 20px;
	}
	.owl-theme .owl-nav [class*="owl-"] {
		font-size: 20px;
		height: 25px;
		width: 25px;
	}
	.owl-theme .owl-nav {
		height: 80px;
	}
	.team-img-overlay {
		top: calc(100% - 14%);
	}
	.property-item > a {
		font-size: 14px;
		min-height: 45px;
		padding: 15px 25px !important;
	}
	.agent-details-items {
		padding: 20px;
	}
	.footer-main .social-link {
		padding: 0 0 20px;
	}
	.footer-main {
		padding: 20px 0 0;
	}
	.pagination-main {
		padding: 30px 0;
	}
	.searching-form {
		padding: 15px 0;
	}
	.searching-form .row div:first-child::before {
		display: none;
	}
	.searching-form .row div:first-child input {
		padding-right: 0;
	}

}

@media screen and (min-width: 1200px) {

	.container {
		max-width: 960px;
	}

}