.form-group.has-error {
  position: relative;
  /* *** */
  /* *** */
}
.form-group.has-error:after {
  content: "\f06a";
  position: absolute;
  top: 12px;
  right: 20px;
  z-index: 1;
  display: block;
  width: 15px;
  font-family: 'FontAwesome';
  color: #d34836;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .form-group.has-error:after {
    right: 12px;
  }
}
.form-group.has-error input[type="text"],
.form-group.has-error input[type="password"],
.form-group.has-error input[type="search"],
.form-group.has-error input[type="email"],
.form-group.has-error input[type="tel"],
.form-group.has-error input[type="number"],
.form-group.has-error textarea {
  border-color: #d34836;
}
.form-group.has-error div.fancy-select div.trigger {
  border-color: #d34836;
}
.form-group.has-error div.fancy-select div.trigger.open {
  border-color: #d34836;
}
.form-group.has-error div.fancy-select ul.options {
  border-color: #d34836;
}
.help-block {
  color: #ff1d00 !important;
}