/*------------------------------------------------------------------
[Main Stylesheet]

Project     : p1-property
Version     : 1.0
Author      : Md Ekramul Hassan Avi
Author URI  : https://www.tigertemplate.com
-------------------------------------------------------------------*/

/*
==========================================
    Google fonts
==========================================
*/
/*@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');*/

/*Palatino Linotype fonts*/
@font-face {
  font-family: 'PalatinoLinotype';
  src: url('fonts/pala.ttf');
}
.PalatinoLinotype {
  font-family: 'PalatinoLinotype';
}
@font-face {
  font-family: 'PalatinoLinotypeBold';
  src: url('fonts/palab.ttf');
}
.PalatinoLinotypeBold {
  font-family: 'PalatinoLinotypeBold';
}
@font-face {
  font-family: 'PalatinoLinotypeBoldI';
  src: url('fonts/palabi.ttf');
}
.PalatinoLinotypeBoldI {
  font-family: 'PalatinoLinotypeBoldI';
}
@font-face {
  font-family: 'PalatinoLinotypeI';
  src: url('fonts/palai.ttf');
}
.PalatinoLinotypeI {
  font-family: 'PalatinoLinotypeI';
}

/*Palatino Linotype fonts*/
@font-face {
  font-family: 'Lucida Sans Unicode';
  src: url('fonts/l_10646.ttf');
}
.PalatinoLinotypeI {
  font-family: 'Lucida Sans Unicode';
}

/*------------------------------------------------------------------
[Table of contents]

1.  reset css
2.  home css
3.  property css
  3.1.  property-list css
4.  agent-profile css
5.  agent-regi css
3.  footer css


-------------------------------------------------------------------*/

/*
==========================================
1.  reset css
==========================================
*/

*{
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #4c4c4c;
  font-weight: 400;
}
a, a:active, a:focus, a:hover, button{
  text-decoration: none;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  cursor: pointer;
}
h1,h2,h3,h4,h5,h6,p,ul,hr {
  padding: 0; 
  margin: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial',sans-serif;
}
ul li {
  list-style: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance:textfield;
}

/*background custom color*/
.bg-primary {
  background-color: #236abf !important;
}

/*
==========================================
2.  home css
==========================================
*/

.border-bottom-5-blue {
  border-bottom: 5px solid #236abf;
}
.header-topbar {
  background-color: #1784b4;
  color: #fff;
  min-height: 34px;
  padding: 8px 0;
}
.header-topbar h5 {
  font-size: 14px;
}
.header-menu {
  min-height: 85px;
}
.header-menu .site-menu li a {
  font-weight: 700;
  color: #212020;
  padding: 10px 20px;
}
.header-menu .log-link li a {
  color: #7e7966;
}
.header-menu .site-menu li a.active,.header-menu .site-menu li a:hover {
  color: #1784b4;
}
.header-menu .log-link li a:hover {
  color: #000;
}
.header-menu .log-link li:not(:last-child) a {
  padding-right: 6px;
  margin-right: 10px;
  position: relative;
}
.header-menu .log-link li:not(:last-child) a::before {
  content: '/';
  position: absolute;
  left: 115%;
  top: 50%;
  transform: translateY(-50%);
}

/*slider style*/

.slider-main {
  min-height: 450px;
  padding: 30px 0;
}
.slider-main:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url(img/banners/1.jpg);
  background-position: center;
  background-size: cover;
}
.slider-search {
  background-color: rgba(253,254,255,0.95);
  overflow: hidden;
  border-radius: 8px;
  padding: 30px;
}
.slider-search h3 {
  font-size: 30px;
  font-weight: 700;
  color: #1784b4;
  line-height: 30px;
  margin-bottom: 20px;
}
.slider-search .accordion-button button {
  border: 1px solid #dbd5c4;
  background: linear-gradient(rgba(255,255,255,0.29), rgba(0,0,0,0.12));
  min-height: 33px;
  min-width: 112px;
  border-radius: 4px;
  position: relative;
  color: #676767;
  font-size: 15px;
}
.accordion-button li:not(:last-child) {
  margin-right: 5px;
}
.accordion-button li {
  margin-bottom: 5px;
}
.slider-search .accordion-button button[aria-expanded="true"] {
  background: #1784b4;
  color: #fff;
  border-color: #dbb228;
}
.slider-search .accordion-button button[aria-expanded="true"]:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #1784b4;
}
.accordion-info input {
  border-color: #cccccc !important;
  margin-right: 4px;
  border-radius: 4px !important;
  min-height: 54px;
  font-size: 14px;
  color: #000 !important;
}
.accordion-info input::-webkit-input-placeholder {
  color: #aba89f;
}
.accordion-info input::-moz-placeholder { 
  color: #aba89f;
}
.accordion-info input:-ms-input-placeholder {
  color: #aba89f;
}
.accordion-info input:-moz-placeholder { 
  color: #aba89f;
}
.accordion-info .input-group-text {
  background: transparent;
  padding: 0;
  border: 0;
}
.accordion-info button {
  height: 100%;
  min-width: 64px;
  border: 1px solid #eeeeee;
  border-radius: 4px !important;
  background: linear-gradient(#1da3c2, #105f9d);
}
.accordion-info button:hover {
  background: linear-gradient(#105f9d, #1da3c2);
}

/*PROPERTY NEWS*/
.property-item {
  background-color: #fefefe !important;
  color: #7f7f7f;
}
.property-item .pro-img {
  background-color: #fff;
  box-shadow: 0 3px 40px -10px #ccc;
  padding: 15px;
  margin-bottom: 30px;
}
.property-item .pro-img img {
  width: 100%;
}
.property-item h4 {
  color: #4e4a4a;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}
.property-news h3 {
  font-weight: 700;
  font-size: 18px;
}
.property-item p {
  font-size: 13px;
  line-height: 14px;
  padding-bottom: 22px;
}
.property-item ul {
  font-size: 13px;
  padding-bottom: 22px;
}
.property-item a {
  border: 1px solid #a2abb2;
  border-radius: 1px;
  color: #b3bbc5;
}
.property-item ul li:not(:last-child) {
  border-bottom: 1px solid #dce0e5;
}

/*agents home info*/
.bg-muted {
  background-color: #8d8985;
}
.agents-home-info h4 {
  font-weight: 900;
  color: #454443;
}
.agents-home-info h4:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: #b8a996;
}
.agents-home-info p {
  color: #7f7f7f;
}
.agents-home-info a {
  border-radius: 1px;
  font-size: 14px;
}
.btn-secondary {
  background-color: #b09f8d !important;
  border-color: #b09f8d !important;
}
.btn-secondary:hover {
  background-color: #9f8e7c !important;
  border-color: #9f8e7c !important;
}

/*
==========================================
3.  property css
==========================================
*/

.property-thum {
  overflow: hidden;
}
.property-img-multi img:not(:last-child) {
  margin-bottom: 15px;
}
.property-price-size h4 {
  font-size: 40px;
  color: #000;
  font-weight: 700;
  margin-bottom: 8px;
}
.property-price-size h4 li {
  font-size: 16px;
  color: #4c4c4c;
}
.property-price-size h4 li:not(:last-child) {
  margin-right: 22px;
}
.pro-size li:not(:last-child) {
  padding-right: 5px;
  margin-right: 12px;
  position: relative;
}
.pro-size-info {
  color: #4c4c4c;
  font-weight: 700;
  font-size: 16.92px;
}
.pro-size li:not(:last-child):before {
  content: '-';
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
}
.pro-price li:not(:last-child) {
  padding-right: 15px;
}
.pro-price li {
  font-size: 24px;
}
.pro-price li span {
  font-size: 16.92px;
}
.property-main .property-price-size {
  margin-bottom: 48px;
}
.pro-address h4 {
  color: #3d3d3d;
}
.pro-address p {
  color: #4c4c4c;
  font-size: 18.67px;
  line-height: 20px;
  font-family: 'PalatinoLinotype',sans-serif;
}
.pro-address p i {
  font-size: 53px;
  line-height: 20px;
}
.text-danger {
  color: #ff0000 !important;
}
.pro-address {
  padding-bottom: 70px;
}
.pro-detail h4 {
  color: #3d3d3d;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Open Sans',sans-serif;
  padding-bottom: 20px;
}
.form-read-only h6 {
  color: #4c4c4c;
  font-size: 16px;
  padding-bottom: 10px;
}
.form-read-only p {
  color: #4c4c4c;
  font-weight: 700;
  padding-bottom: 12px;
}
.form-read-only li:not(:last-child) {
  border-bottom: 1px dashed #9ae8f5;
  margin-bottom: 12px;
}
.pro-detail {
  margin-bottom: 70px;
}
.pro-description h5 {
  color: #3d3d3d;
  font-family: 'Open Sans',sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
}
.pro-description p {
  font-size: 17.33px;
  color: #000;
}
.pro-description {
  padding-bottom: 118px;
}
.pro-facilities h5 {
  font-family: 'PalatinoLinotypeBold';
  font-size: 24px;
  color: #3d3d3d;
  margin-bottom: 20px;
}
.pro-facilities {
  font-family: 'PalatinoLinotypeBold';
}
.facilities-accordin button {
  border: 0;
  background-color: transparent;
  border-bottom: 5px solid transparent;
  width: 100%;
  display: block;
  font-size: 18.67px;
  color: #3d3d3d;
  padding: 8px 0;
}
.facilities-accordin button[aria-expanded="true"] {
  border-bottom: 5px solid #bf6200;
}
.facilities-accordin {
  margin-bottom: 12px;
}
.fac-accordin-body > div {
  margin-bottom: 20px;
}
.fac-accordin-body img {
  margin-right: 5px;
}
.facilities-accordin p {
  color: #4c4c4c;
}
.fac-accordin-body {
  margin-bottom: 22px;
}
.pro-info > h5 {
  font-size: 26.67px;
  color: #3d3d3d;
  font-family: 'PalatinoLinotypeBold';
  margin-bottom: 25px;
}
.pro-info > p {
  font-size: 18.67px;
  color: #3d3d3d;
  font-family: 'PalatinoLinotypeBold';
  margin-bottom: 42px;
}
.pro-actions ul {
  margin-bottom: 15px;
}
.pro-actions .text-danger {
  color: #c33737 !important;
}
.pro-actions a {
  font-size: 18.67px;
  font-family: 'PalatinoLinotypeBold';
}
.pro-actions ul li:not(:last-child) {
  margin-right: 45px;
}
.pro-actions {
  margin-bottom: 100px;
}
.pricing-insights-main > h4 {
  background-color: #ffe5cb;
  display: inline-block;
  font-size: 24px;
  color: #3d3d3d;
  font-family: Open Sans;
  font-weight: 700;
  padding: 12px 22px;
  border-radius: 10px;
  margin-bottom: 58px;
}
.pricing-insights-main > h4 i {
  width: 32px;
  height: 22px;
  font-size: 16px;
  background-color: #8f75be;
  border-radius: 10px;
  color: #ffc80a;
  margin-right: 6px;
}
.pricing-insights {
  margin-bottom: 40px;
}
.pricing-insights-info {
  padding: 42px 0;
  font-weight: 700;
  color: #4c4c4c;
}
.pricing-insights-info p {
  font-size: 16px;
  padding-bottom: 13px;
}
.pricing-insights-info h4 {
  font-size: 24.9px;
  font-weight: 700;
  padding-bottom: 16px;
}
.pricing-insights-info ul li:not(:last-child) {
  position: relative;
  padding-right: 5px;
  margin-right: 10px;
}
.pricing-insights-info ul li:not(:last-child):before {
  content: '-';
  position: absolute;
  left: 100%;
}
.pricing-insights-main a {
  font-size: 14.33px;
  font-weight: 700;
  border-radius: 6px;
}
.btn-primary {
  background-color: #2926f3 !important;
  border-color: #2926f3 !important;
}
.btn-primary:hover {
  background-color: #120fdc !important;
  border-color: #120fdc !important;
}
.pricing-insights-warn {
  font-size: 28px;
  font-family: 'PalatinoLinotypeBold';
  color: #000;
  padding: 64px 0;
}
.pricing-insights-main {
  margin-bottom: 125px;
}
.agents-head h4 {
  font-size: 28px;
  font-family: 'PalatinoLinotypeBold';
  color: #000;
  font-weight: 700;
  margin-bottom: 10px;
}
.agents-head p {
  font-family: 'PalatinoLinotype';
  font-size: 17.33px;
}
.agents-head {
  padding: 0 105px;
  margin-bottom: 60px;
}
.agents-item h6 {
  color: #c95b45;
  font-size: 12.82px;
  font-family: 'PalatinoLinotype';
  padding: 15px 0;
}
.agents-item p {
  font-size: 12.82px;
  font-family: 'PalatinoLinotype';
  margin-bottom: 20px;
  color: #000;
  line-height: 12.82px;
}
ul.social-link li a {
  width: 33px;
  height: 33px;
  background-color: #7f7f7f;
  border-radius: 50%;
  color: #fff;
}
ul.social-link li:not(:last-child) {
  margin-right: 3px;
}
ul.social-link {
  margin-bottom: 20px;
}
.agents-main {
  margin-bottom: 150px;
}

/*agents inner*/
.agents-inner {
  margin-top: 60px;
}
.agents-inner .agents-item h6, .agents-inner .contact a {
  font-size: 18.02px;
  line-height: 18.02px;
}
.agents-item p {
  height: 48px;
}
.agents-inner .agents-item {
  padding: 0 30px;
}
.agents-inner .agents-item h6 {
}
.contact a {
  color: #191919;
  font-family: 'PalatinoLinotypeBold';
}
.contact a i {
  width: 22px;
}
.contact {
  padding-bottom: 25px;
}
.agents-inner .agents-head h4 {
  color: #4c4c4c;
}
.agents-inner .agents-head {
  margin-bottom: 100px;
}

/*
==========================================
3.1.  property-list css
==========================================
*/
.property-list-info {
  width: 100%;
}
.property-list-info h5 {
  color: #505050;
  font-size: 15px;
  margin-bottom: 28px;
}
.property-list-item {
  margin-bottom: 50px;
  margin-top: 50px;
}
.property-list-info h4 {
  color: #1784b4;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 5px;
}
.property-list-info p {
  font-size: 13px;
  color: #7f7f7f;
  margin-bottom: 30px;
}
.property-list-info-btn {
  background-color: #1784b4 !important;
  font-size: 15px;
  font-family: Myriad Pro;
  padding: 3px 20px;
}
.pagination a {
  padding: 10px;
  background-color: #1a94c6;
  display: inline-block;
  border: 1px solid #336d86;
  color: #fff;
  font-size: 14.67px;
  min-width: 38px;
  text-align: center;
}
.pagination a.active,.pagination a:hover {
  background-color: #7f7f7f;
}
.property-list {
  padding-bottom: 30px;
}

/*
==========================================
4.  agent-profile css
==========================================
*/

.agents-profile-main {
  padding: 50px 0 50px;
  font-family: 'Lato',sans-serif;
}
.agents-profile-title {
  font-family: 'Lato',sans-serif;
  font-size: 24px;
  color: #4c4c4c;
  font-weight: 700;
  margin-bottom: 110px;
}
.profile-img h4 {
  font-family: 'PalatinoLinotypeBold',sans-serif;
  font-size: 16px;
  color: #4c4c4c;
  font-weight: 700;
  margin: 8px 0 0;
}
.profile-img p {
  font-family: 'PalatinoLinotype',sans-serif;
  font-size: 13px;
  color: #4c4c4c;
  line-height: 13px;
}
.profile-img {
  margin-bottom: 30px;
}
.profile-about h4 {
  color: #4c4c4c;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Lato',sans-serif;
  padding-bottom: 5px;
}
.profile-about p {
  font-family: 'PalatinoLinotype';
  font-size: 16px;
}
.profile-info-list {
  font-size: 13.33px;
  font-family: 'PalatinoLinotype';
  margin-bottom: 66px;
}
.best-offer h4 {
  font-size: 24px;
  font-weight: 700;
  font-family: 'PalatinoLinotypeBold',sans-serif;
  margin-bottom: 24px;
}
.best-offer-head {
  border: 1px solid #a3cbf9;
}
.best-offer-head .best-offer-head-info {
  padding: 20px 16px;
}
.best-offer-head-info h5 {
  color: #4293f3;
  font-family: 'Lato',sans-serif;
  font-weight: 700;
  font-size: 10.67px;
  margin-bottom: 10px;
}
.best-offer-head-info p {
  font-family: 'PalatinoLinotypeBold';
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 10px;
}
.best-offer-head-info span {
  font-family: 'PalatinoLinotypeBold';
  font-weight: 700;
  font-size: 10.67px;
  color: #3d3d3d;
}
.best-offer-head-info span i {
  font-size: 21px;
}
.best-offer-img-action {
  top: 16px;
  left: 16px;
}
.best-offer-img img {
  width: 100%;
}
.best-offer-img-action a {
  font-size: 6.46px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-family: 'Lato',sans-serif;
  border-radius: 0;
}
.best-offer-img-action li {
  margin-right: 12px;
}
.btn-warning {
  background-color: #f1a32d !important;
  border-color: #f1a32d !important;
}
.btn-info {
  background-color: #4093f0 !important;
  border-color: #4093f0 !important;
}
.btn-danger {
  background-color: #f64e57 !important;
  border-color: #f64e57 !important;
}
.best-offer-body {
  padding: 10px 16px;
}
.best-offer-room li {
  font-size: 10.67px;
  font-weight: 700;
}
.best-offer-room li:not(:last-child) {
  position: relative;
  margin-right: 10px;
  padding-right: 5px;
}
.best-offer-room li:not(:last-child):before {
  content: '/';
  position: absolute;
  left: 100%;
}
.best-offer-room {
  margin-bottom: 22px;
}
.best-offer-price {
  padding-bottom: 30px;
}
.best-offer-price h6,.best-offer-price p {
  font-family: 'Lato',sans-serif;
  font-weight: 700;
}
.best-offer-price p {
  font-size: 10.12px;
}
.best-offer-price h6 {
  font-size: 13.33px;
}
.best-offer-body input {
  box-shadow: -2px 2px 0 rgba(0,0,0,0.5);
}
.best-offer-agents {
  font-size: 10.12px;
}
.contact-form h4 {
  font-size: 15.29px;
  font-weight: 700;
  padding-bottom: 20px;
}
.contact-form-box {
  background-color: #c4eaf7;
  padding: 10px;
}
.contact-form-box .form-control {
  border-radius: 0;
  border: 0;
}
.best-offer-box {
  margin-bottom: 20px;
}

/*
==========================================
5.  agent-regi css
==========================================
*/

.agents-register{
  padding:50px 0 60px;
  color: #000;
}
.agents-register h4 {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 12px;
}
.agents-register p {
  font-family: 'PalatinoLinotype';
  font-size: 14px;
  /*padding-bottom: 110px;*/
}
.agents-register-box {
  background-color: #1f3f81;
  border: 1px solid #798bb3;
  padding: 45px 35px;
  border-radius: 40px;
}
.agents-register-head button {
  font-size: 21.59px;
  font-weight: 700;
  min-height: 66px;
  border-radius: 10px;
}
.agents-register-head button[aria-expanded="false"] {
  background-color: transparent !important;
  font-size: 21.59px;
  font-weight: 400;
  color: #fff;
}
.agents-register .form-control {
  min-height: 52px;
  font-size: 16.79px;
  font-family: 'Arial',sans-serif;
  border-radius: 10px;
}
.agents-register label {
  font-size: 16.79px;
  font-family: 'Arial',sans-serif;
}
.btn-submit {
  background-color: #ffd119 !important;
  border-color: #ffd119 !important;
  border-radius: 10px;
  color: #333333;
  font-size: 19.19px;
  font-weight: 700;
  min-height: 56px;
}
/*
==========================================
3.  footer css
==========================================
*/

.footer-info {
  padding: 40px 0;
  background-color: #252525;
}
.footer-copyright {
  padding: 18px 0;
  font-size: 12px;
}
.bg-dark {
  background-color: #000 !important;
}
.footer-info h4 {
  font-size: 22px;
  color: #cfcbc0;
  padding-bottom: 30px;
}
.footer-main,.footer-main a{
  color: #fff;
}
.footer-info p,.footer-info ul li,.footer-info a {
  font-size: 12px;
}
.footer-info p {
  padding-bottom: 30px;
}
.blog-posts {
  font-style: italic;
  padding-left: 14px;
}
.blog-posts b {
  display: block;
  color: #b4b4b4;
}
.blog-posts li {
  padding-bottom: 22px;
  position: relative;
}
.blog-posts li:before {
  content: '';
  position: absolute;
  right: calc(100% + 10px);
  top: 6px;
  background-image: url('img/icons/list-left.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  width: 6px;
  height: 6px;
}
.contact-list li:not(:last-child) {
  padding-bottom: 10px;
}
.contact-list {
  padding-bottom: 30px;
}
.footer-info a {
  color: #cfcbc0;
}
.newsletter {
  min-height: 42px;
  border: 1px solid #000;
  border-radius: 4px;
  overflow: hidden;
  padding: 5px;
  background-color: #1a1a1a;
  border-bottom-color: #393939;
  box-shadow: 1px 1px 1px rgba(255,255,255,0.1);
  border-right-color: #393939;
}
.newsletter input {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-size: 12px;
  color: #fff !important;
}
.newsletter input:focus {
  background-color: transparent;
}
.newsletter .input-group-text {
  background: linear-gradient(#1da3c2, #105f9d);
  border-color: #24769a;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.55);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.55);
  font-size: 15px;
}
.footer-copyright li:not(:last-child) {
  padding-right: 7px;
  margin-right: 10px;
  position: relative;
}
.footer-copyright li:not(:last-child):before {
  content: '|';
  position: absolute;
  left: 100%;
  top: 0;
}
.footer-p {
  color: #fff;
}