/*!
 * Custom by Muhamad Husein @safirasolution (https://safirasolution.com/)
 */
 span.required {
  content:" * ";
  color:red;
}
.table th, .table td {
    padding: .70rem !important;
}
.m-widget26 .m-widget26__number {
    font-size: 2.2rem;
}

@media (min-width: 1025px){
	.m-page--fluid .m-page .m-page__container {
    	padding: 0 30px; 
		}
}

@media (min-width: 320px) and (max-width: 480px) {
	#m_aside_left_offcanvas_toggle {
		display: none;
	}
	table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before{
		position: initial !important;
	}
}

/* #### Mobile Phones Landscape #### */
@media (min-width: 481px) and (max-width: 767px) {
	#m_aside_left_offcanvas_toggle {
		display: none;
	}
	table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before{
		position: initial !important;
	}
}

.help-block {
	margin-top: 0.2rem;
	font-size: .85rem;
	color: #e73d4a;
}

.has-error label.col-form-label, .has-error label.form-control-label{
	color: #f4516c;
}

.m-form.m-form--fit .has-error .form-control {
	border-color: #f4516c;
}